modules = ["python-3.11", "nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Python Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Python Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend_vNext && python3 run.py --host 0.0.0.0 --port 8080"
waitForPort = 8080

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend-vNext && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "cd backend_vNext && python3 run.py --host 0.0.0.0 --port 8080 & cd frontend-vNext && npm run start"]
build = ["bash", "-c", "cd frontend-vNext && npm install && npm run build"]

[nix]
channel = "stable-25_05"
